body{
  margin: 0;
  background-color: #E1CFB1;
}

h1  {
  font-weight: 900;
  text-align: center ;
  background-color: #dac39b;
  width: 1280px;
  padding: 25px;
  margin-left: 140px;
  margin-top: 0;
  
  

}

.tekstovermijzelf {
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 20px;
  width: 400px;
  border:#612b12;
  text-align: center;
  background-color: #612b12;
  color: white;
  padding: 50px;
  text-shadow: 10px 10px 15px black;
  border-radius: 25px;
  margin-top: 120px;
  margin-left: 130px;
  font-weight: 450;
  box-shadow: 10px 10px 40px grey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #E1CFB1;
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
 
}

li a.active {
  background-color: #612B12;
  color: white;
}

li a:hover:not(.active) {
  background-color: #dabc8a;
  color: rgb(0, 0, 0);
};

.hallotjes { 
  float: left;
  text-align: center;
  background-color: #612b12;
  padding: 16px 100px;
  color: white; 
  text-decoration: none;
}
