body{
  margin: 0;
  background-color: #E1CFB1;
}

.uitleg1 {
  font-size: 25px;
  font-weight: 150;
  width: 900px;
  margin-left: 100px;
  text-align: center;
  margin-left: 300px;
}
.kopjes1{
  margin-top: 80px;
  font-size: 18px;
  margin-left: 100px;
  background-color: #612B12;
  color: white;
  padding: 15px;
  width: 120px;
  border-radius: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.9;
}
.kopjes2 {
  margin-top: 50px;
  font-size: 18px;
  margin-left: 100px;
  background-color: #612B12;
  color: white;
  padding: 15px;
  width: 120px;
  border-radius: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.9;
}
.bettereuitleg {
  font-size: 17px;
  margin-left: 110px;
  font-weight: 100;
  width: 1000px;
}

h1  {
  font-weight: 900;
  text-align: center ;
  background-color: #dac39b;
  padding: 25px;
  margin-top: 60px;
  position: static;
}

.tekstovermijzelf {
  font-size: 20px;
  width: 400px;
  border:#612b12;
  text-align: center;
  background-color: #612b12;
  color: white;
  padding: 50px;
  text-shadow: 10px 10px 15px black;
  border-radius: 25px;
  font-weight: 450;
  box-shadow: 10px 10px 40px grey;
  animation-name: slideinlinks;
  animation-duration: 1s;
  float: left;
}
.meertekst {
  text-align: center;
  background-color: #612b12;
  color: white;
  padding: 50px;
  text-shadow: 10px 10px 15px black;
  border-radius: 25px;
  font-weight: 450;
  box-shadow: 15px 15px 10px grey;
  width: 400px;
  animation-name: slideinrechts;
  animation-duration: 1s;
  float: left;
}

img{
  width: 300px;
  height: 300px;
  animation-name: logofade;
  animation-duration: 5s;
  float: left;
}

@keyframes logofade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideinlinks {
  from {
    color: #612b12;
  }
  to {
    color : white;
  }
}

@keyframes slideinrechts {
  from {
    color: #612B12;
  }
  to {
   color: white;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  background-color: #E1CFB1;
  width: 100%;
  overflow: auto;
  padding: 7px;
  left: 0;
  display: flex;
  position: fixed;
  top: 0;
  margin-top: 0px;
}
 
li{

float: left;
}

li a {
  display: block;
  color: black;
  padding: 15px 16px;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  margin-left: 0;
  left: 0;
  border-radius: 10px;
  margin-right: 4px;
}
li a.active {
  background-color: #612B12;
  color: white;
}

li a:hover:not(.active) {
  background-color: #dabc8a;
  color: rgb(0, 0, 0);
}
